<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../common/partials/head'); %>
</head>
<body>
    <h1>Matter.CX</h1>
    <h2>Register Authenticator App</h2>
    <br>
    <img src="<%=qrcode%>" />
    <p>Once you've scanned the QRCode, please enter the 6 digit code in your Authenticator app.</p>
    <form method="post">
        <label>One time passcode:</label>
        <input type="text" name="otp" />
        <br>
        <button type="submit" class="solid">Register</button>
    </form>

</body>
</html>

