<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <h2>Please enter your username and password</h2>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter username" />

        <label for="password">Password</label>
        <input type="text" name="password" placeholder="Enter password" />
        
        <button type="submit">Login</button>

        <a href="/recover-username">Forgotten username ?</a>
        <a href="/recover-password">Forgotten password ?</a>
        <a href="/sign-up">Signup</a>
    </form>
</body>
</html>