<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../common/partials/head'); %>
</head>
<body>
    <h1>Matter.CX</h1>
    <h2>Create account</h2>
    <p>Choose a user name and a password to create an account. A screenname is optional.</p>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter username" />
        <br>
        <!--
            <label for="screenname">Screen Name (optional)</label>
        <input type="text" name="screenname" placeholder="Enter screen name" />
        <br>
        -->
        <label for="password">Password</label>
        <input type="text" name="password" placeholder="Enter password" />
        <br>
        
        <button type="submit" class="solid">Create Account</button>

        <a href="/sign-in">Sign-in</a>
        
    </form>
</body>
</html>