<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../common/partials/head'); %>
</head>
<body>
    <h1>Matter.CX</h1>
    <h2>Headless Content Management</h2>
    <br>
    <p>You have been successfully signed out. See you soon.</p>
    <a href="/sign-in" class="solid">Sign-in</a>
</body>
</html>