<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../common/partials/head'); %>
</head>
<body>
    <h1>Matter.CX</h1>
    <h2>Headless Content Management</h2>
    <br>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter username" />
        <br>
        <label for="password">Password</label>
        <input type="text" name="password" placeholder="Enter password" />
        <br>
        
        <button type="submit" class="solid">Connect</button>

        <a href="/recover-username">Forgotten username ?</a>
        <a href="/recover-password">Forgotten password ?</a>
        
    </form>
</body>
</html>