<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/partials/head'); %>
</head>
<body>
    <h1>Matter.CX</h1>
    <h2>Headless Content Management</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, sunt aperiam! Voluptates reiciendis similique consequuntur magnam vitae natus sit exercitationem consequatur pariatur rerum praesentium consectetur animi magni, assumenda laborum omnis!</p>
    <nav>
        <a href="/sign-in" class="solid">Connect</a>
        <a href="/sign-up" class="solid">Create Account</a>
    </nav>
</body>
</html>