<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/partials/head'); %>
</head>
<body>
    <h1>Matter.CX</h1>
    <h2>Headless Content Management</h2>
    <p>Welcome <%=screenname%></p>
    <nav>
        <a href="/sign-out" class="solid">Sign-out</a>
    </nav>
</body>
</html>